{% extends "admin/base_site.html" %}
{% load i18n %}

{% block title %}{% trans "Send Email" %}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans "Home" %}</a> &rsaquo;
    <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a> &rsaquo;
    <a href="{% url 'admin:embassy_mailtemplate_changelist' %}">{% trans "Mail Templates" %}</a> &rsaquo;
    {% trans "Send Email" %}
</div>
{% endblock %}

{% block content %}
<h1>{% trans "Send Email" %}</h1>

<form method="post">
    {% csrf_token %}
    <div class="form-row">
        <div>
            <label for="{{ form.mail_template.id_for_label }}">{{ form.mail_template.label }}</label>
            {{ form.mail_template }}
            {% if form.mail_template.errors %}
                <ul class="errorlist">{% for e in form.mail_template.errors %}<li>{{ e }}</li>{% endfor %}</ul>
            {% endif %}
        </div>
    </div>
    <div class="form-row">
        <div>
            <label>{{ form.citizens.label }}</label>
            {{ form.citizens }}
            {% if form.citizens.errors %}
                <ul class="errorlist">{% for e in form.citizens.errors %}<li>{{ e }}</li>{% endfor %}</ul>
            {% endif %}
        </div>
    </div>
    <div class="submit-row">
        <input type="submit" value="{% trans "Send" %}" class="default">
        <a href="{% url 'admin:embassy_mailtemplate_changelist' %}">{% trans "Cancel" %}</a>
    </div>
</form>

{{ media }}
{% endblock %}
